<footer class="text-white">
    <div class="fluid warning">
        <div class="footer-content container pt-5">
            <div class="container">
                <div class="row g-2">
                    <div class="col-3">
                        <div class="">
                            <div class="row text-white">
                                <p class="widget-content">Copyright 2022.myHotel. All rights</p>
                            </div>
                            <div class="row text-white mt-5">
                                <h4 class="widget-title text-white">Subscribe to Our</h4>
                                <p class="widget-content">News letter</p>
                            </div>
                            <div class="mb-3 rounded-pill">
                                <input type="email" class="form-control" id="exampleFormControlInput1"
                                    placeholder="name@example.com">
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="text-center">
                            <div class="row text-white">
                                <p class="widget-content">Services</p>
                            </div>
                            <div class="row text-white">
                                <p class="widget-content">Email Marketing</p>
                            </div>
                            <div class="row text-white">
                                <p class="widget-content">Campaigns</p>
                            </div>
                            <div class="row text-white">
                                <p class="widget-content">Branding</p>
                            </div>
                            <div class="row text-white">
                                <p class="widget-content">Offline</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="text-center">
                            <div class="row text-white">
                                <p class="widget-content">About</p>
                            </div>
                            <div class="row text-white">
                                <p class="widget-content">List Property</p>
                            </div>
                            <div class="row text-white">
                                <p class="widget-content">Location</p>
                            </div>
                            <div class="row text-white">
                                <p class="widget-content">Privacy & Legal</p>
                            </div>
                            <div class="row text-white">
                                <p class="widget-content">Contact</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="text-end">
                            <a class="navbar-brand" href="index.html"><img class="w-75 h-75"
                                    src="../../../assets/images/icon.png" alt="logo" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>