
.navbar .nav-item .active{
    position: relative;
}
.navbar .nav-item .active::after{
    position: absolute;
    margin-top: 20px;
    content: "";
    background-color:#E5B300;
    width: 110px;
    height: 4px;
}
.btn-warning{
    background-color:#E5B300;
}
