<header class="miri-ui-kit-header landing-header header-bg-1">
  <nav class="navbar navbar-expand-lg navbar-light text-light">
    <a class="navbar-brand" href="index.html"
      ><img
        class="w-75 h-75"
        src="../../../assets/images/Logo 19.png"
        alt="logo"
    /></a>
    <button
      class="navbar-toggler d-lg-none"
      type="button"
      data-toggle="collapse"
      data-target="#oneseedNav"
      aria-controls="oleezMainNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="oneseedNav">
      <ul class="navbar-nav mx-auto mt-2 mt-lg-0">
        <li class="nav-item ">
          <a class="nav-link active text-white fs-5 "  href="index.html"
            >Customers</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-white fs-5" href="about.html"> Farmers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white fs-5" href="about.html"> Supplier</a>
        </li>
      </ul>
      <ul class="navbar-nav d-none d-lg-flex">
        <button class="py-1 btn btn-warning btn-md">Login</button>
        <div class="pl-2">
          <button class="py-1 btn btn-light btn-md">Sign Up</button>
        </div>
        <!-- -->
      </ul>
    </div>
  </nav>

  <div
    class="miri-ui-kit-header-content text-start text-white d-flex flex-column justify-content-center align-items-center"
  >
    <div class="container">
        <h1 class="text-white align-items-start justify-content-start">
            Get fresh and healthy food from your local farmer
          </h1>
      <div class="row">
        
        <div class="col p-1">
          <select class="form-select" aria-label="Default select example">
            <option selected>Select your Region</option>
            <option value="1">North </option>
            <option value="2">Littoral</option>
            <option value="3">Far North</option>
            <option value="3">East</option>
            <option value="3">Centre</option>
            <option value="3">Adamawa</option>
          </select>
        </div>
        <div class="col col-lg-3 mr-10 p-1">
            <select class="form-select">
              <option selected>Delivery</option>
              <option value="1">Pick Up</option>
            </select>
          
        </div>
        <div class="col-lg-3 p-1">
        <button type="button" class="py-1 btn btn-warning">Search</button>
    </div>
      </div>
    </div>
  </div>
</header>
